body {
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  letter-spacing: .01rem;
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  line-height: 1.58;
  letter-spacing: -.003em;
  max-width: 660px;
  margin: 0 auto;
  padding: 40px 20px;
}

h1 {
  text-align: center;
}